*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*********************************************************************/
h1{
    text-align: center;
    font-size: 80px;
}





/*********************************************************************/

header{
    width: 100%;
    height: 100px;   
    position: fixed;
    z-index: 99;
}

nav{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 50px;
}

 nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;    
}

header nav ul li a{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

header nav ul li a:hover{
    color: white;
    background-color: lightgrey;
}

/*********************************************************************/
.product-container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: red;
}

.product-container .product-detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.product-detail#t-h{
    color: yellow;
}


